<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

</head>
<body>
    <%-include('header.ejs')%>
    
    <section class="topText">
        <h1>Kayıt Ol</h1>
    </section>

    <section class="kullaniciFormu" id="kayitS1">
        <form action="/signup" method="post">
            <input type="text" name="username" id="indexInputText" placeholder="Kullanıcı Adı">
            <input type="password" name="password" id="indexInputNumber" placeholder="Şifre">
            <input type="text" name="name" id="indexInputText" placeholder="Ad">
            <input type="text" name="surname" id="indexInputNumber" placeholder="Soyad">
            <input type="mail" name="email" id="indexInputText" placeholder="Eposta">
            <input type="text" name="tcid" id="indexInputText" placeholder="TC No">
            <input type="text" name="phone" id="indexInputNumber" placeholder="Telefon Numarası">
            <input type="text" name="address" id="indexInputNumber" placeholder="Adres">
            <input type="submit" value="Kayıt Ol" id="signupInputKayit">
         </form>
         <h3>Zaten bir hesabın var mı? <a href="/login"><span style="color:#0984e3;">Giriş Yap</span></a></h3>
    </section>

    

    
    
</body>
</html>